<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>

<form method="POST" th:action="@{/logout}" th:object="${user}">

    <div class="main block">

        <h3>Страница пользователя</h3>


        <label>Псевдоним</label>
        <td th:text="${user.getUsername()}"/>

        <label>Роль</label>
        <td th:text="${user.getRoles()}"/>

        <label>Имя</label>
        <td th:text="${user.getFirstname()}"/>

        <label>Фамилия </label>
        <td th:text="${user.getLastname()}"/>

        <label>Возраст</label>
        <td th:text="${user.getAge()}"/>
        <br>
        <form th:method="POST" th:action="@{/logout}">
            <input type="submit" value="Выйти из системы"/>
        </form>

    </div>
</form>
</body>
</html>